html {
    box-sizing: border-box;
}

*, ::after, ::before {
    box-sizing: inherit;
}

body {
    max-width: 700px;
    margin: 0 auto;
    padding: 0 20px;
    color: #222;
    font-family: 'Montserrat', sans-serif;
    background-color: white;
    background-image: url("../images/euro.jpg");
}

.header {
    text-align: center;
    margin-bottom: 30px;
    color: #ffffff;
    font-size: 56px;
}

.result {
    color: rgb(0, 0, 0);
    margin: 20px 0 40px;
    text-align: center;
    font-weight: 400;
    padding: 16px;
    background-color: hsla(237, 65%, 71%, 0.951);
    font-size: 18px;
}